# Python-specific caches/artifacts
__pycache__/
.venv/
uv.lock
*.py[cod]
*$py.class

# Packaging/build artifacts
build/
dist/
*.egg-info/
src/*.egg-info/

# Test/tooling/etc. caches
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/
tests/.cache/

# Local dataset(s)
.data/

# Smoke tests + local-only stuff
scripts/
notes/
